In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sys
from pytz import timezone
import seaborn as sns

In [3]:
df = pd.read_csv("data/cosimawellenbad-hallenbad.csv", header=None, names=["ts", "cnt", "max"], index_col="ts", parse_dates=["ts"])
df.index = df.index.tz_convert('Europe/Berlin')

In [4]:
df['day_name'] = df.index.to_series().dt.weekday
df['hour'] = df.index.to_series().dt.hour

In [6]:
pivot = pd.pivot_table(df[['day_name', 'hour', 'cnt']], index=['day_name', 'hour'], aggfunc='max')

In [8]:
pivot = pivot.unstack(level=0)

In [53]:
#pivot.reindex(columns=list(range(7)), fill_value=0, level=1)
#pivot.reindex(columns=list(range(7)), labels=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], fill_value=0)
#pivot.reindex(columns=[i for i in range(7)], level=1)

pivot.reindex(columns=[("cnt", i) for i in range(7)])

           cnt
day_name     0   1   2   3     4      5      6
hour
0         10.0 NaN NaN NaN   5.0    6.0    3.0
1         10.0 NaN NaN NaN   5.0    6.0    3.0
2         10.0 NaN NaN NaN   5.0    6.0    3.0
3         10.0 NaN NaN NaN   5.0    6.0    3.0
4          0.0 NaN NaN NaN   0.0    0.0    0.0
5          0.0 NaN NaN NaN   0.0    0.0    0.0
6          0.0 NaN NaN NaN   0.0    0.0    0.0
7         10.0 NaN NaN NaN  15.0   15.0   16.0
8         39.0 NaN NaN NaN  23.0   46.0   49.0
9         37.0 NaN NaN NaN  35.0   74.0   74.0
10        57.0 NaN NaN NaN  48.0  117.0   79.0
11        57.0 NaN NaN NaN  45.0  119.0   84.0
12        34.0 NaN NaN NaN  39.0   91.0   61.0
13        33.0 NaN NaN NaN  37.0   70.0   83.0
14        44.0 NaN NaN NaN  53.0   35.0  105.0
15        55.0 NaN NaN NaN  73.0   57.0  143.0
16        78.0 NaN NaN NaN  80.0   76.0  140.0
17        78.0 NaN NaN NaN  88.0   78.0  130.0
18        69.0 NaN NaN NaN  86.0   63.0   86.0
19        47.0 NaN NaN NaN  51.0   46.0   50.0
20        43.0 NaN NaN NaN  49.0   42.0   37.0
21         NaN NaN NaN NaN  41.0   33.0   23.0
22         NaN NaN NaN NaN  32.0   23.0   21.0
23         NaN NaN NaN NaN   6.0    5.0   10.0